[package]
name = "librespot-playback"
version = "0.1.0"
authors = ["Sasha Hilton <sashahilton00@gmail.com>"]

[dependencies.librespot-audio]
path = "../audio"
[dependencies.librespot-core]
path = "../core"
[dependencies.librespot-metadata]
path = "../metadata"

[dependencies]
futures = "0.1.8"
log = "0.3.5"
byteorder = "1.2.1"

alsa            = { git = "https://github.com/plietar/rust-alsa", optional = true }
portaudio-rs    = { version = "0.3.0", optional = true }
libpulse-sys    = { version = "0.0.0", optional = true }
jack            = { version = "0.5.3", optional = true }
libc            = { version = "0.2", optional = true }
rodio           = { git = "https://github.com/tomaka/rodio", optional = true, default-features = false}

[features]
alsa-backend = ["alsa"]
portaudio-backend = ["portaudio-rs"]
pulseaudio-backend = ["libpulse-sys", "libc"]
jackaudio-backend = ["jack"]
rodio-backend = ["rodio"]
