[package]
name = "librespot-playback"
version = "0.4.2"
authors = ["Sasha Hilton <sashahilton00@gmail.com>"]
description = "The audio playback logic for librespot"
license = "MIT"
repository = "https://github.com/librespot-org/librespot"
edition = "2018"

[dependencies.librespot-audio]
path = "../audio"
version = "0.4.2"
[dependencies.librespot-core]
path = "../core"
version = "0.4.2"
[dependencies.librespot-metadata]
path = "../metadata"
version = "0.4.2"

[dependencies]
futures-executor = "0.3"
futures-util = { version = "0.3", default_features = false, features = ["alloc"] }
log = "0.4"
parking_lot = { version = "0.12", features = ["deadlock_detection"] }
byteorder = "1.4"
shell-words = "1.0.0"
tokio = { version = "1", features = ["sync", "parking_lot"] }
zerocopy = { version = "0.6" }
thiserror = { version = "1" }

# Backends
alsa            = { version = "0.6", optional = true }
portaudio-rs    = { version = "0.3", optional = true }
libpulse-binding        = { version = "2", optional = true, default-features = false }
libpulse-simple-binding = { version = "2", optional = true, default-features = false }
jack            = { version = "0.10", optional = true }
sdl2            = { version = "0.35", optional = true }
gstreamer       = { version = "0.18", optional = true }
gstreamer-app   = { version = "0.18", optional = true }
gstreamer-audio = { version = "0.18", optional = true }
glib            = { version = "0.15", optional = true }

# Rodio dependencies
rodio           = { version = "0.15", optional = true, default-features = false }
cpal            = { version = "0.13", optional = true }

# Decoder
lewton = "0.10"
ogg = "0.8"

# Dithering
rand = { version = "0.8", features = ["small_rng"] }
rand_distr = "0.4"

[features]
alsa-backend = ["alsa"]
portaudio-backend = ["portaudio-rs"]
pulseaudio-backend = ["libpulse-binding", "libpulse-simple-binding"]
jackaudio-backend = ["jack"]
rodio-backend = ["rodio", "cpal"]
rodiojack-backend = ["rodio", "cpal/jack"]
sdl-backend = ["sdl2"]
gstreamer-backend = ["gstreamer", "gstreamer-app", "gstreamer-audio", "glib"]
