[Unit]
Description=Librespot (an open source Spotify client)
Documentation=https://github.com/librespot-org/librespot
Documentation=https://github.com/librespot-org/librespot/wiki/Options
Requires=network-online.target
After=network-online.target

[Service]
DynamicUser=yes
SupplementaryGroups=audio
Restart=on-failure
ExecStart=/usr/bin/librespot --name "%p@%H"

[Install]
WantedBy=multi-user.target
