[package]
name = "librespot"
version = "0.1.0"
authors = ["Paul Liétar <paul@lietar.net>"]
license = "MIT"
description = "Open Source Spotify client library"
keywords = ["spotify"]
repository = "https://github.com/plietar/librespot"
readme = "README.md"

[workspace]

[lib]
name = "librespot"
path = "src/lib.rs"

[[bin]]
name = "librespot"
path = "src/main.rs"
doc = false

[dependencies.librespot-audio]
path = "audio"
[dependencies.librespot-connect]
path = "connect"
[dependencies.librespot-core]
path = "core"
[dependencies.librespot-metadata]
path = "metadata"
[dependencies.librespot-playback]
path = "playback"
[dependencies.librespot-protocol]
path = "protocol"

[dependencies]
base64 = "0.10"
env_logger = "0.6"
futures = "0.1"
getopts = "0.2"
hyper = "0.11"
log = "0.4"
num-bigint = "0.2"
protobuf = "2.8.*"
rand = "0.7"
rpassword = "3.0"
tokio-core = "0.1"
tokio-io = "0.1"
tokio-process = "0.2"
tokio-signal = "0.2"
url = "1.7"
sha-1 = "0.8"
hex = "0.3"

[features]
alsa-backend = ["librespot-playback/alsa-backend"]
portaudio-backend = ["librespot-playback/portaudio-backend"]
pulseaudio-backend = ["librespot-playback/pulseaudio-backend"]
jackaudio-backend = ["librespot-playback/jackaudio-backend"]
rodio-backend = ["librespot-playback/rodio-backend"]
sdl-backend = ["librespot-playback/sdl-backend"]

with-tremor = ["librespot-audio/with-tremor"]
with-vorbis = ["librespot-audio/with-vorbis"]

with-dns-sd = ["librespot-connect/with-dns-sd"]

default = ["librespot-playback/rodio-backend"]

[package.metadata.deb]
maintainer = "librespot-org"
copyright = "2018 Paul Liétar"
license_file = ["LICENSE", "4"]
depends = "$auto"
extended_description = """\
librespot is an open source client library for Spotify. It enables applications \
to use Spotify's service, without using the official but closed-source \
libspotify. Additionally, it will provide extra features which are not \
available in the official library."""
section = "sound"
priority = "optional"
assets = [
    ["target/release/librespot", "usr/bin/", "755"],
    ["contrib/librespot.service", "lib/systemd/system/", "644"]
]
