[package]
name = "librespot"
version = "0.1.0"
authors = ["Paul Liétar <paul@lietar.net>"]
build = "build.rs"
license = "MIT"
description = "Open Source Spotify client library"
keywords = ["spotify"]
repository = "https://github.com/plietar/librespot"
readme = "README.md"

[workspace]

[lib]
name = "librespot"
path = "src/lib.rs"

[[bin]]
name = "librespot"
path = "src/main.rs"
doc = false

[dependencies.librespot-audio]
path = "audio"
[dependencies.librespot-core]
path = "core"
[dependencies.librespot-metadata]
path = "metadata"
[dependencies.librespot-protocol]
path = "protocol"

[dependencies]
base64 = "0.5.0"
env_logger = "0.4.0"
futures = "0.1.8"
getopts = "0.2.14"
hyper = "0.11.2"
log = "0.3.5"
mdns = { git = "https://github.com/plietar/rust-mdns" }
num-bigint = "0.1.35"
protobuf = "1.1"
rand = "0.3.13"
rpassword = "0.3.0"
rust-crypto = { git = "https://github.com/awmath/rust-crypto.git", branch = "avx2" }
serde = "0.9.6"
serde_derive = "0.9.6"
serde_json = "0.9.5"
tokio-core = "0.1.2"
tokio-signal = "0.1.2"
url = "1.3"

alsa            = { git = "https://github.com/plietar/rust-alsa", optional = true }
portaudio-rs    = { version = "0.3.0", optional = true }
libpulse-sys    = { version = "0.0.0", optional = true }

[build-dependencies]
rand            = "0.3.13"
vergen          = "0.1.0"
protobuf_macros = { git = "https://github.com/plietar/rust-protobuf-macros", features = ["with-syntex"] }

[features]
alsa-backend = ["alsa"]
portaudio-backend = ["portaudio-rs"]
pulseaudio-backend = ["libpulse-sys"]

with-tremor = ["librespot-audio/with-tremor"]
with-lewton = ["librespot-audio/with-lewton"]

default = ["portaudio-backend"]

[package.metadata.deb]
maintainer = "nobody"
copyright = "2016 Paul Liétar"
license_file = ["LICENSE", "4"]
depends = "$auto"
extended_description = """\
librespot is an open source client library for Spotify. It enables applications \
to use Spotify's service, without using the official but closed-source \
libspotify. Additionally, it will provide extra features which are not \
available in the official library."""
section = "sound"
priority = "optional"
assets = [
    ["target/release/librespot", "usr/bin/", "755"],
    ["contrib/librespot.service", "lib/systemd/system/", "644"]
]
