[package]
name = "librespot-core"
version = "0.1.6"
authors = ["Paul Lietar <paul@lietar.net>"]
build = "build.rs"
description = "The core functionality provided by librespot"
license = "MIT"
repository = "https://github.com/librespot-org/librespot"
edition = "2018"

[dependencies.librespot-protocol]
path = "../protocol"
version = "0.1.6"

[dependencies]
aes = "0.6"
base64 = "0.13"
byteorder = "1.4"
bytes = "1.0"
cfg-if = "1"
error-chain = { version = "0.12", default-features = false }
futures-core = { version = "0.3", default-features = false }
futures-sink = { version = "0.3", default-features = false }
futures-util = { version = "0.3", default-features = false, features = ["alloc", "bilock", "unstable", "sink"] }
hmac = "0.10"
httparse = "1.3"
hyper = { version = "0.14", optional = true, features = ["client", "tcp", "http1"] }
log = "0.4"
num-bigint = "0.3"
num-integer = "0.1"
num-traits = "0.2"
once_cell = "1.5.2"
pbkdf2 = { version = "0.7", default-features = false, features = ["hmac"] }
protobuf = "~2.14.0"
rand = "0.8"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha-1 = "0.9"
shannon = "0.2.0"
tokio = { version = "1.0", features = ["io-util", "net", "rt", "sync"] }
tokio-stream = "0.1"
tokio-util = { version = "0.6", features = ["codec"] }
url = "1.7"

[build-dependencies]
rand = "0.8"
vergen = "3.0.4"

[dev-dependencies]
env_logger = "*"
tokio = {version = "1.0", features = ["macros"] }

[features]
apresolve = ["hyper"]
apresolve-http2 = ["apresolve", "hyper/http2"]
